
h1{
  font-family: cursive;
  font-size: 2.0rem;
}

p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

body{
  background-color: #dafeff;
}

.center {
    text-align: center;
  }

  .openingBanner {
    text-align: center;
    margin-top: 70px;
  }

  .opening {
    width: 100%;
    margin-top: 100px;
  }

  .bookNowBtn{
    color: #B5BCC4;
    position: absolute;
    bottom: 10px;
    right: 40px;
    font-size: 32px;
  }

  @media only screen and (max-width: 600px) {
    .openingImg {
      width: 100%;
    }

    .btn{
      width: 100px;
      font-size: 1rem;
    }

    .col{
      width: 100%;
      padding: 0;
    }

  }

  .whatIsBotox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #B5BCC4;
  }

  .info1{
    margin-top: 50px;
  }

  .info1Photo{
    width: 100%;
    border-radius: 94% 6% 93% 7% / 5% 92% 8% 95%  ;
  }

  .info2Photo{
    padding: 50PX;
    border-radius: 94% 6% 93% 7% / 5% 92% 8% 95% ;
    width: 100%;
  }

  .info3Photo{
    border-radius: 100% 0% 100% 0% / 31% 64% 36% 69% ;
    width: 100%;
  }
  .price{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .border{
    border-radius: 30% 70% 29% 71% / 74% 24% 76% 26% ;
  }

  .map{
    width: 100%;
    margin-top: 50px;
  }

  /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


