<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <img style="width: 100%;" src="\images\Facebook Cover 1000x515 px.jpeg" alt="">
    </div>
    <div class="container googleReviews">
      <script src="https://apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-db34ded8-29ec-4182-9cf7-3b61a5cb6362"></div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>