
  <%- include('../partials/head'); %>
  <%- include('../partials/nav'); %>


  <style>

    .center{
      text-align: center;
    }

    .openingBanner{
      text-align: center;
      margin-top: 60px;
    }
    .openingImg{
      width: 100%;
      padding: 35px;
      border-radius: 10%;
    }

    @media only screen and (max-width: 600px) {
      .openingImg{
        width: 100%;
      }
    }

    </style>

<div data-aos="fade-up">
  <div class="container-fluid openingBanner">
    <img class="openingImg" style="width: 90%;" src="\images\Facebook Cover 851x315 px.png" alt="">
  </div>
</div>






  <%- include('../partials/footer'); %>