<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>



<div data-aos="fade-up">
  <div class="container opening" style="position:relative">
    <img class="" style="width: 100%;" src="\images\Blog Header 1200x600 px.png" alt="">
    <a href="#"><button class="btn bg-primary bookNowBtn">Book Now</button>
    </a>
  </div>
</div>

<div data-aos="fade-up" id="studio">
  <div class="row">
    <div class="col whatIsBotox">
      <div class="center">
        <h1 style="font-family: cursive;">The Studio</h1>
        <br>
        <p style="font-family: 'Times New Roman', Times, serif; font-size: 1.5rem;">Mauris blandit aliquet elit, eget
          tincidunt nibh pulvinar a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
          Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vestibulum ante ipsum
          primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam
          vel, ullamcorper sit amet ligula.</p>
      </div>
    </div>
    <div class="col-lg">
      <img class="info2Photo" src="\images\lisaStudio.png" alt="">
    </div>
  </div>
</div>

<div data-aos="fade-up" id="faq">
  <div class="row">
    <div class="col-lg"><img class="info1Photo" style="padding: 25px;"
        src="https://cdn.create.vista.com/api/media/medium/141463772/stock-photo-female-botox-injection?token=caWFhGKAIUoZ78XaADMSj6D1pBf2lxILKLxM96oYiKHzGMoDQIogkbF03DCYM4F8"
        alt=""></div>
    <div class="col container whatIsBotox">
      <div class="container" style="text-align: center;">
        <h1 style="font-family: cursive;">What is Botox</h1>
        <div class="container whatIsBotox" style="padding: 50px; text-align: center;">
          <br>
          <p style="font-family: 'Times New Roman', Times, serif; font-size: 1.5rem;">
            Botox® Cosmetic is the most popular cosmetic procedure in the world.
            It is a neurotoxin that is treatment injected into different muscles in the face in order to temporarily
            improve
            the look of fine lines and wrinkles.
            <br>
            Botox injections block the nerve impulse from reaching targeted muscle areas, as the muscle relaxes the
            overlying wrinkle is smoothed and improved.
            <a href="#"><button class="btn bg-primary bookNowBtn">Book Now</button></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-aos="fade-up" id="price">
  <div class="row">
    <div class="col price"  style="background-color:#B5BCC4;">
      <div class="container whatIsBotox">
        <div style="text-align: center; color: #393e44;" class="contanier">
          <img style="width: 100%;" src="\images\Nurse injector Lisa Nav Name.png" alt="">
          <h1>Services & Rates</h1>
          <div  class="row">
            <div class="col"><P>Service</P></div>
            <div class="col"><p>Price</p></div>
          </div>
          <div class="row">
            <div class="col"><P>Lip Fill</P></div>
            <div class="col"><p>$120.00 + Tax</p></div>
          </div>
          <div class="row">
            <div class="col"><P>Half Syringe</P></div>
            <div class="col"><p>$275.00 + Tax</p></div>
          </div>
          <div class="row">
            <div class="col"><P>Full Syringe</P></div>
            <div class="col"><p>$450.00 + Tax</p></div>
          </div>
          <div class="row">
            <div class="col"><P>Botox Facial</P></div>
            <div class="col"><p>$250.00 + Tax</p></div>
          </div>
          <div class="row">
            <div class="col"><P>Dysport</P></div>
            <div class="col"><p>$8.00 + Tax</p></div>
          </div>
          <div class="row">
            <h1>Singles $399 or 3 for $1000</h1>
          </div>
          <a href="#"><button class="btn bg-primary bookNowBtn">Book Now</button></a>
        </div>
      </div>
    </div>
    <div class="col-md">
      <img style="width: 100%;" class="lisaTouchingLips info3Photo" src="\images\lisaTouchingLips.png" alt="">
    </div>
  </div>
</div>

<div data-aos="fade-up" id="about">
  <div class="row">
    <div class="col-lg"><img style="padding: 25px; "
        src="\images\Lisa.png"
        alt=""></div>
    <div class="col container whatIsBotox">
      <div class="container" style="text-align: center;">
        <h1>Lisa Andreae</h1>
        <div class="container whatIsBotox" style="padding: 50px; text-align: center;">
          <br>
          <p style="font-family: 'Times New Roman', Times, serif; font-size: 1.5rem;">
            For the past 18 years I have specialized in Mental Health Nursing. Though I have explored in other areas, I have always come back to Mental Health as my passion. Despite my love for this area of nursing, I decided It was time venture out and explore another area I ‘ve always wanted to pursue, Medical Aesthetics. As such, I decided to enroll at the Canadian Association for Medical Aesthetics, where I took a comprehensive course on basic and advanced injecting. I can truly say that I have finally found my calling and a rejuvenated love for nursing through injecting. Following completion of my studies, I took a mentorship to continue to develop and build upon the skills I had learned in my courses. Through this, process I have learned so much and am excited to work with my clients to achieve their own cosmetic goals.
            <a href="#"><button class="btn bg-primary bookNowBtn">Book Now</button></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-aos="fade-up" id="booking">

</div>

<%- include('../partials/socialIcons'); %>

<%- include('../partials/footer'); %>